*.o
*.mod
*.a
*.so
*.so
*.la
*.lo
*.pyc
*.elc
*.dat
\#*#
.*.rej
*.rej
.*~
*~
.#*
.~lock*
*.sw[po]
*.bak
.DS_Store
.pc
.svn
.hg
auto
*.synctex.gz
.bootstrap
.set_permission
.*-use
config/sitemap.org
el-get
share/*
tmp/*
modules/*-stamp
.org-id-locations
elpa
auto-save-list
url
history
abbrev_defs
.skk-uim-jisyo
.skk-uim-jisyo.lock
*.L
places
recentf